.button {
  font-size: 14px;
  color: #7e7e7e;
  border: 1px solid transparent;
  padding: 5px 8px;
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
  &--active {
    border-color: #ebd7d8;
  }
}
